<div *ngFor="let product of products" class="card card-body mb-2">
    <div class="row">
        <div class="col-md-8">
            <ul>
                <li>
                    id: {{ product.id }}
                </li>
                <li>
                    title: {{ product.title }}
                </li>
                <li>
                    description: {{ product.price }}
                </li>
                <li>
                    price: {{ product.price }}
                </li>
            </ul>
            <button class="btn btn-danger" (click)="deleteProduct(product.id)">
                Törlés
            </button>
            <button class="btn btn-secondary" [routerLink]="['/product/edit', product.id]">
                Update
            </button>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>